@import url("https://cdn.jsdelivr.net/gh/ajatkj/swagger-ui-improved-theme/css/swagger-ui-improved.css");

/** By VizualAccel (Corey M. Capetillo) **/
html,
body {
  background: #333;
}

.swagger-ui .opblock-tag span {
  background: #333;
  padding: 0 5px;
}

.swagger-ui .opblock-tag {
  color: #fff;
}

.swagger-ui {
  color: #fff;
  font-family: "Arial", sans-serif;
}

.swagger-ui .opblock-tag:hover span,
.swagger-ui section.models h4:hover span,
.swagger-ui .opblock .opblock-summary:hover {
  letter-spacing: 0;
}

.swagger-ui .parameters-col_description input {
  border-radius: 4px;
}

.swagger-ui .btn,
.swagger-ui .btn-group .btn,
.swagger-ui .opblock .opblock-summary-method {
  border-radius: 3px;
}

.swagger-ui .parameters-col_description input:disabled {
}

.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
  color: #fff;
}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
  color: #fff;
}

.swagger-ui .opblock .opblock-summary-description {
  color: #fff;
}

.swagger-ui .info {
  margin: 30px 0 0 0;
}

.swagger-ui .info .title small {
  border-radius: 2px;
  margin: 0 0 0 10px;
  padding: 3px 6px;
  top: 0;
}

.swagger-ui .info .title {
  color: #fff;
}

.swagger-ui .opblock-tag-section {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h2.title {
  display: flex;
}

.swagger-ui .info a {
  color: #4990e2;
}

.swagger-ui .info a:hover {
  color: #63a3ed;
}

.swagger-ui .authorization__btn {
  fill: #fff !important;
}

.swagger-ui .parameter__name {
  color: #e5e5e5;
}

.swagger-ui .parameter__type {
  color: #ababab;
}

.swagger-ui input[type="email"],
.swagger-ui input[type="file"],
.swagger-ui input[type="password"],
.swagger-ui input[type="search"],
.swagger-ui input[type="text"],
.swagger-ui textarea {
  background: #1e1e1e;
  border-color: #777e8a;
  color: #fff;
}

.swagger-ui input[type="email"]:focus,
.swagger-ui input[type="file"]:focus,
.swagger-ui input[type="password"]:focus,
.swagger-ui input[type="search"]:focus,
.swagger-ui input[type="text"]:focus,
.swagger-ui textarea:focus {
  border-color: #c7cfdc;
  border-radius: 4px;
}

.swagger-ui input[disabled],
.swagger-ui select[disabled],
.swagger-ui textarea[disabled] {
  background: #57585985;
  color: #aaa;
  border-color: #6f747e;
}

.swagger-ui input[disabled]::placeholder,
.swagger-ui select[disabled]::placeholder,
.swagger-ui textarea[disabled]::placeholder {
  color: #777 !important;
}

.swagger-ui .parameter__type {
  color: #9ca8c3;
  font-size: 10px;
  font-weight: 500;
  padding: 2px 0;
}

.swagger-ui .parameter__extension,
.swagger-ui .parameter__in {
  color: gray;
  font-family: monospace;
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
}

.swagger-ui .opblock .opblock-section-header {
  background: #2a2a2a;
}

.swagger-ui .opblock .opblock-section-header h4 {
  color: #a9aaae;
  font-weight: 600;
}

.swagger-ui .opblock-body pre.microlight {
  background: #222 !important;
  color: #eee !important;
  box-shadow: 0 0 30px inset rgba(0, 0, 0, 0.25);
}

.swagger-ui .opblock-control-arrow svg {
  fill: #fff !important;
}

.swagger-ui .opblock .opblock-summary .view-line-link.copy-to-clipboard svg {
  background-image: none;
}

.swagger-ui
  .opblock
  .opblock-summary
  .view-line-link.copy-to-clipboard
  svg
  g
  path {
  fill: #ccc !important;
}

.swagger-ui
  .opblock
  .opblock-summary
  .view-line-link.copy-to-clipboard:active
  svg
  g
  path {
  fill: #fff !important;
}

.swagger-ui .authorization__btn .unlocked {
  fill: #ccc !important;
  background-image: none;
}

.swagger-ui .response-col_status {
  color: #e5e5e5;
}

.swagger-ui .tab li {
  color: #a1a2a3;
  font-weight: bold;
}

.swagger-ui .tab li button.tablinks {
  background: #2d2d2d;
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}

.swagger-ui .tab {
  margin-bottom: 0;
  padding-left: 20px;
}

.swagger-ui .tab li:first-of-type:after {
  background: rgba(255, 255, 255, 0.2);
  display: none;
}

.swagger-ui .tab li.tabitem.active button.tablinks {
  color: #fff;
  background: #1b1b1b;
}

.swagger-ui div.model-box {
  background: #222 !important;
  color: #eee !important;
  box-shadow: 0 0 30px inset rgba(0, 0, 0, 0.25);
}

/* shit */
.swagger-ui .json-schema-2020-12-keyword__name--primary,
.swagger-ui .json-schema-2020-12-keyword__value--primary,
.swagger-ui .json-schema-2020-12__attribute,
.swagger-ui .json-schema-2020-12-property .json-schema-2020-12__title {
  color: #a5a6ae;
}
.swagger-ui .json-schema-2020-12-keyword__name--secondary,
.swagger-ui .json-schema-2020-12-keyword__value,
.swagger-ui .json-schema-2020-12-keyword__value--secondary,
.swagger-ui .json-schema-2020-12-keyword--description {
  color: #6d6d6d;
}
.swagger-ui .json-schema-2020-12-keyword__value--const,
.swagger-ui .json-schema-2020-12-keyword__value--warning {
  border: 1px dashed #6b6b6b;
  color: #6b6b6b;
}
.swagger-ui .json-schema-2020-12-keyword__value--warning {
  border: 1px dashed red;
  color: red;
}
.swagger-ui .json-schema-2020-12__attribute--primary {
  color: #8d8dd5;
}
.swagger-ui .json-schema-2020-12__attribute--muted {
  color: gray;
}
.swagger-ui .json-schema-2020-12__attribute--warning {
  color: #ff0000;
}
.swagger-ui .json-schema-2020-12-keyword--\$vocabulary ul {
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
}
.swagger-ui .json-schema-2020-12__title {
  color: #eee;
}

.swagger-ui .json-schema-2020-12-accordion__icon svg {
  fill: #ff9c52;
}

.swagger-ui
  .json-schema-2020-12-property--required
  > .json-schema-2020-12:first-of-type
  > .json-schema-2020-12-head
  .json-schema-2020-12__title:after {
  color: #ce3131;
  padding-left: 2px;
}

.swagger-ui .response-control-media-type__accept-message {
  color: #4cb54c;
}

.swagger-ui .response-control-media-type__accept-message code {
  color: #c2ffc2;
}

.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
  border-bottom: 1px solid rgb(90 98 119 / 20%);
  color: #ebebeb;
}

.swagger-ui .response-col_links {
  color: #909196;
}

.swagger-ui .btn {
  border-color: #dbdbdb;
  color: #dbdbdb;
}

/* Tabs */
.swagger-ui .opblock.opblock-post {
  background: rgba(8, 160, 69, 0.1);
  border-color: #1d8a49;
}
.swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-post .opblock-summary-method {
  background: #1d8a49;
}
.swagger-ui .opblock.opblock-post .opblock-summary {
  border-color: #1d8a49;
}

.swagger-ui .opblock.opblock-put {
  background: rgba(255, 195, 0, 0.1);
  border-color: #d7b443;
}
.swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-put .opblock-summary-method {
  background: #dba941;
}
.swagger-ui .opblock.opblock-put .opblock-summary {
  border-color: #d7b443;
}

.swagger-ui .opblock.opblock-delete {
  background: rgba(249, 62, 62, 0.1);
  border-color: #cf4848;
}
.swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background: #cf4848;
}
.swagger-ui .opblock.opblock-delete .opblock-summary {
  border-color: #cf4848;
}

.swagger-ui .opblock.opblock-get {
  background: rgba(0, 65, 199, 0.1);
  border-color: #3a70df;
}
.swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background: #3a70df;
}
.swagger-ui .opblock.opblock-get .opblock-summary {
  border-color: #3a70df;
}

.swagger-ui .opblock.opblock-patch {
  background: rgba(80, 227, 194, 0.1);
  border-color: #50e3c2;
}
.swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-patch .opblock-summary-method {
  background: #50e3c2;
}
.swagger-ui .opblock.opblock-patch .opblock-summary {
  border-color: #50e3c2;
}

.swagger-ui .opblock.opblock-head {
  background: rgba(144, 18, 254, 0.1);
  border-color: #9012fe;
}
.swagger-ui .opblock.opblock-head .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-head .opblock-summary-method {
  background: #9012fe;
}
.swagger-ui .opblock.opblock-head .opblock-summary {
  border-color: #9012fe;
}

.swagger-ui .opblock.opblock-options {
  background: rgba(13, 90, 167, 0.1);
  border-color: #0d5aa7;
}

.swagger-ui .opblock.opblock-options .tab-header .tab-item.active h4 span:after,
.swagger-ui .opblock.opblock-options .opblock-summary-method {
  background: #0d5aa7;
}
.swagger-ui .opblock.opblock-options .opblock-summary {
  border-color: #0d5aa7;
}

.swagger-ui section.models h4 span {
  background: #333;
  color: #fff;
  padding: 3px 6px;
}

.swagger-ui section.models {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin: 30px 0;
}
.swagger-ui section.models .json-schema-2020-12 {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.swagger-ui .json-schema-2020-12 {
  border-radius: 8px;
  margin: 0 10px 15px;
  padding: 4px 0 4px 10px;
}

.swagger-ui .json-schema-2020-12:first-of-type {
  margin: 10px;
}

.swagger-ui .json-schema-2020-12:last-of-type {
  margin: 2px 5px;
}

.swagger-ui .json-schema-2020-12-body {
  border-left: 1px dashed rgba(200, 230, 255, 0.41);
}

.swagger-ui .json-schema-2020-12-body .json-schema-2020-12-body {
  border-left: 1px dashed rgba(200, 230, 255, 0.3);
}

.json-schema-2020-12-keyword__children {
  border-left: 1px dashed rgba(200, 230, 255, 0.21) !important;
}

.swagger-ui .json-schema-2020-12-property {
  margin: 0;
  gap: 20px;
}

.swagger-ui .json-schema-2020-12-keyword {
  /* margin: 5px; */
}

.swagger-ui .json-schema-2020-12-accordion {
  color: #fff;
}

.swagger-ui .json-schema-2020-12-keyword--enum > ul {
  vertical-align: middle;
}

.swagger-ui .json-schema-2020-12__constraint--string {
  color: black;
  font-size: 10px;
}

span.json-schema-2020-12-json-viewer__name.json-schema-2020-12-json-viewer__name--secondary {
  font-family: monospace;
  margin-right: 10px;
  color: #ddd;
  font-size: 12px;
}

span.json-schema-2020-12-json-viewer__value.json-schema-2020-12-json-viewer__value--secondary {
  font-size: 12px;
  color: #eee;
}

.swagger-ui .dialog-ux .modal-ux {
  background: #1f1f1f;
  color: #fff;
  border: 1px solid #222;
}
.swagger-ui label {
  color: #d7d9e0;
}

.swagger-ui .dialog-ux .modal-ux-content p {
  color: #ababab;
}

.swagger-ui .scopes h2 {
  color: #eeeeee;
}

.swagger-ui .dialog-ux .modal-ux-content h4 {
  color: #adadad;
  background-color: #111;
  font-family: monospace;
}

.swagger-ui .checkbox input[type="checkbox"] + label > .item {
  background: #272727;
  box-shadow: 0 0 0 2px #8f8f8f;
}

.swagger-ui input[type="email"],
.swagger-ui input[type="file"],
.swagger-ui input[type="password"],
.swagger-ui input[type="search"],
.swagger-ui input[type="text"],
.swagger-ui textarea {
  border-radius: 4px;
}

.swagger-ui .loading-container .loading:after {
  color: #c4c4c4;
}

.swagger-ui .loading-container .loading:before {
  animation: rotation 1s linear infinite, opacity 0.5s;
  backface-visibility: hidden;
  border: 2px solid rgb(255 255 255 / 10%);
  border-radius: 100%;
  border-top-color: rgb(189 189 189 / 60%);
}

.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5 {
  color: #9b9b9b;
}

td.response-col_status {
  padding-right: 20px;
}

.response-undocumented {
  padding-right: 20px;
}

.swagger-ui .copy-to-clipboard button {
  background: #212121
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20"><path fill="white" d="M14.167 3.333h-0.833a1.667 1.667 0 0 0 -1.667 -1.667h-3.333a1.667 1.667 0 0 0 -1.667 1.667H5.833a2.5 2.5 0 0 0 -2.5 2.5v10a2.5 2.5 0 0 0 2.5 2.5h8.333a2.5 2.5 0 0 0 2.5 -2.5V5.833a2.5 2.5 0 0 0 -2.5 -2.5Zm-5.833 0h3.333v1.667h-3.333V3.333Zm6.667 12.5a0.833 0.833 0 0 1 -0.833 0.833H5.833a0.833 0.833 0 0 1 -0.833 -0.833V5.833a0.833 0.833 0 0 1 0.833 -0.833h0.833a1.667 1.667 0 0 0 1.667 1.667h3.333a1.667 1.667 0 0 0 1.667 -1.667h0.833a0.833 0.833 0 0 1 0.833 0.833Z"/></svg>');
}

.swagger-ui .download-contents {
  padding: 5px 7px;
}

.swagger-ui .dialog-ux .modal-ux-header h3 {
  color: #fff;
}

.swagger-ui .dialog-ux .modal-ux-header {
  border-color: #3a3a3a;
}

.modal-ux-header button svg path {
  fill: white;
}

span.json-schema-2020-12-keyword__name.json-schema-2020-12-keyword__name--primary,
ul.json-schema-2020-12-keyword__children {
  margin-left: 20px !important;
}

article.json-schema-2020-12.json-schema-2020-12--embedded {
  margin-left: 10px !important;
}

.json-schema-2020-12-keyword.json-schema-2020-12-keyword--anyOf {
  margin-left: 0;
}

span.json-schema-2020-12-json-viewer__name.json-schema-2020-12-json-viewer__name--secondary {
  margin-left: 10px;
}

.model-box
  span.json-schema-2020-12-keyword__name.json-schema-2020-12-keyword__name--primary,
.model-box ul.json-schema-2020-12-keyword__children {
  margin-left: 10px !important;
}
